
ProyectoVestite/.vs/ProyectoVestite/config/applicationhost.config
ProyectoVestite/.vs/ProyectoVestite/v16/.suo
ProyectoVestite/Vestite.BLL/obj/Debug/Vestite.BLL.csprojAssemblyReference.cache
ProyectoVestite/Vestite.DAL/obj/Debug/Vestite.DAL.csprojAssemblyReference.cache
ProyectoVestite/Vestite.Servicios/obj/Debug/Vestite.Servicios.csprojAssemblyReference.cache
ProyectoVestite/Vestite.UI/bin/Vestite.UI.dll
ProyectoVestite/Vestite.UI/bin/Vestite.UI.pdb
ProyectoVestite/Vestite.UI/obj/Debug/Vestite.UI.csproj.CoreCompileInputs.cache
ProyectoVestite/Vestite.UI/obj/Debug/Vestite.UI.csproj.FileListAbsolute.txt
ProyectoVestite/Vestite.UI/obj/Debug/Vestite.UI.csprojAssemblyReference.cache
ProyectoVestite/Vestite.UI/obj/Debug/Vestite.UI.dll
ProyectoVestite/Vestite.UI/obj/Debug/Vestite.UI.pdb
ProyectoVestite/Vestite.UI/bin/Vestite.UI.dll
ProyectoVestite/.vs/ProyectoVestite/v16/.suo
*.dll
*.pdb
*.cache
ProyectoVestite/.vs/ProyectoVestite/v16/.suo
*.dll
*.pdb
*.cache
